* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-size: 130%;
  font-family: BIG_JOHN, Fabiolo-Regular, Fabiolo-Light, Fabiolo-Semibold;
  font-weight: 300;
  line-height: 1.55em;
  text-rendering: optimizeLegibility;
  color: #555;
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

}

iframe {
   display: block;
   margin: 0 auto;
}

.your-centered-div {
    width: 595px; /* you have to have a size or this method doesn't work */
    height: 485px; /* think about making these max-width instead - might give you some more responsiveness */

    position: absolute; /* positions out of the flow, but according to the nearest parent */
    top: 0; right: 0; /* confuse it i guess */
    bottom: 0; left: 0;
    margin: auto; /* make em equal */
}

@font-face {
    font-family: BIG JOHN ;
    src: url(BIG_JOHN.otf);
}

@font-face {
    font-family: Fabiolo-Regular ;
    src: url(Fabiolo-Regular.otf);
}

@font-face {
    font-family: Fabiolo-Light ;
    src: url(Fabiolo-Light.otf);
}

@font-face {
    font-family: Fabiolo-Semibold ;
    src: url(Fabiolo-Semibold.otf);
}


.page h1.format-icon:before {
content: none;
}